* {
    color-scheme: dark;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 0;
  transform: scale(0);
  transition: 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert .closebtn:hover {
  color: black;
}

#OnlineUsers {
    display: none; /* It's going to be scripted so this is fine */
}

#title {
    text-align: center;
}

#logoutBtn {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    justify-content: right;
    color: white;
    transition: 0.2s;
}

#logoutBtn:hover {
    color: red;
    text-shadow: 0 0 5px red;
}

/* Ranks */

.Rank[data-rank="SITEADMIN"] {
    text-shadow: 0 0 5px gold;
}

.Rank[data-rank="SITEADMIN"]:hover {
    color: gold;
}


.Rank[data-rank="TRIALMOD"] {
    text-shadow: 0 0 5px greenyellow;
}

.Rank[data-rank="TRIALMOD"]:hover {
    color: greenyellow;
}


.Rank[data-rank="MOD"] {
    text-shadow: 0 0 5px lightgreen;
}

.Rank[data-rank="MOD"]:hover {
    color: lightgreen;
}


.Rank[data-rank="ADMIN"] {
    text-shadow: 0 0 5px cornflowerblue;
}

.Rank[data-rank="ADMIN"]:hover {
    color: cornflowerblue;
}


.Rank[data-rank="SUPERADMIN"] {
    text-shadow: 0 0 5px cyan;
}

.Rank[data-rank="SUPERADMIN"]:hover {
    color: cyan;
}


.Rank[data-rank="DEVELOPER"] {
    text-shadow: 0 0 5px red;
}

.Rank[data-rank="DEVELOPER"]:hover {
    color: red;
}


.Rank[data-rank="OWNER"] {
    text-shadow: 0 0 5px gold;
}

.Rank[data-rank="OWNER"]:hover {
    color: gold;
}

/* How did you get access? */
.Rank[data-rank="NONE"],
.Rank[data-rank="PLAYER"],
.Rank[data-rank="VIP"] {
    color: crimson;
}

.Rank[data-rank="NONE"]:hover,
.Rank[data-rank="PLAYER"]:hover,
.Rank[data-rank="VIP"]:hover {
    text-shadow: 0 0 5px crimson;
}

.User[data-rank="TRIALMOD"]:hover {
    color: greenyellow;
    text-shadow: 0 0 5px currentColor;
}
.User[data-rank="MOD"]:hover {
    color: lightgreen;
    text-shadow: 0 0 5px currentColor;
}
.User[data-rank="ADMIN"]:hover {
    color: cornflowerblue;
    text-shadow: 0 0 5px currentColor;
}
.User[data-rank="SUPERADMIN"]:hover {
    color: cyan;
    text-shadow: 0 0 5px currentColor;
}
.User[data-rank="DEVELOPER"]:hover {
    color: red;
    text-shadow: 0 0 5px currentColor;
}
.User[data-rank="OWNER"]:hover {
    color: gold;
    text-shadow: 0 0 5px currentColor;
}
.User[data-rank="NONE"]:hover,
.User[data-rank="PLAYER"]:hover,
.User[data-rank="VIP"]:hover {
    color: crimson;
    text-shadow: 0 0 5px crimson;
}

.Rank, .User {
    font-weight: bolder;
    transition: 0.2s;
}
